# SPDX-License-Identifier: GPL-2.0-only
#
# AMD APML BMC interface drivers
#

config APML_SBRMI
	tristate "Emulated SB-RMI interface driver over i2c or i3c bus"
	depends on I2C || I3C
	select REGMAP_I3C if I3C
	select REGMAP_I2C if I2C
	help
	  If you say yes here you get support for emulated RMI
	  interface on AMD SoCs with APML interface connected to a BMC device.

	  This driver can also be built as a module. If so, the module will
	  be called apml_sbrmi.

config APML_SBTSI
	tristate "Emulated SB-TSI interface driver over i2c or i3c bus"
	depends on I2C || I3C
	select REGMAP_I3C if I3C
	select REGMAP_I2C if I2C
	help
	  If you say yes here you get support for emulated TSI
	  interface on AMD SoCs with APML interface connected to a BMC device.

	  This driver can also be built as a module. If so, the module will
	  be called apml_sbtsi.
