menu "ASPEED SoC drivers"

config ASPEED_BMC_MISC
	bool "Miscellaneous ASPEED BMC interfaces"
	depends on ARCH_ASPEED || COMPILE_TEST
	default ARCH_ASPEED
	help
	  Say yes to expose VGA and LPC scratch registers, and other
	  miscellaneous control interfaces specific to the ASPEED BMC SoCs

endmenu
