menuconfig FB_AST
	tristate "ASPEED Framebuffer Driver"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	default n

if FB_AST

config AST_DAC
	bool "CRT DAC output"

config AST_DVO
	bool "CRT DVO output"

endif


