#
# Faraday device configuration
#

config NET_VENDOR_AST
	bool "AST devices"
	default y
	depends on PLAT_ASPEED
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y
	  and read the Ethernet-HOWTO, available from
	  <http://www.tldp.org/docs.html#howto>.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Faraday cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if NET_VENDOR_AST

config AST_MAC
        tristate "ASPEED Gigabit Ethernet support"
        depends on ARCH_ASPEED
        select PHYLIB
        help
          This driver supports the ASPEED Gigabit Ethernet controller.

endif # NET_VENDOR_AST
