#
# Configuration for NCSI support
#

config NET_NCSI
	bool "NCSI interface support"
	depends on INET
	---help---
	  This module provides NCSI (Network Controller Sideband Interface)
	  support. Enable this only if your system connects to a network
	  device via NCSI and the ethernet driver you're using supports
	  the protocol explicitly.
config NCSI_OEM_CMD_GET_MAC
	bool "Get NCSI OEM MAC Address"
	depends on NET_NCSI
	---help---
	  This allows to get MAC address from NCSI firmware and set them back to
		controller.
config NET_NCSI_MC_MAC_OFFSET
	int
	prompt "Offset of Management Controller's MAC Address"
	depends on NCSI_OEM_CMD_GET_MAC
	default 1
	---help---
	  This defines the offset between Network Controller's (base) MAC
	  address and Management Controller's MAC address.
config NCSI_SKIP_SEL_PKG
	bool "Skip sending NCSI Select/Deselect Package command"
	depends on NET_NCSI
	---help---
	  Workaround that some NICs may stop responding after receiving
	  NCSI Select/Deselect Package command.
config ENABLE_NCSI_TRACE
	bool "enable NC-SI trace"
	depends on NET_NCSI
	---help---
	  Enable debug kernel message for NC-SI to trace cmd/rsp/AENs
	  For debugging packet drop
