// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2020 Facebook Inc.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook GrandTeton";
	compatible = "facebook,grandteton", "aspeed,ast2600";

	aliases {
		serial0 = &uart5;
		serial1 = &uart1;

		spi1 = &spi_gpio;

	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS0,57600n8 root=/dev/ram rw vmalloc=384M";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>, <&adc0 3>,
			<&adc0 4>, <&adc0 5>, <&adc0 6>, <&adc0 7>,
			<&adc1 2>;
	};

	spi_gpio: spi-gpio {
		status = "okay";
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		gpio-sck = <&gpio0 ASPEED_GPIO(Z, 3) GPIO_ACTIVE_HIGH>;
		gpio-mosi = <&gpio0 ASPEED_GPIO(Z, 4) GPIO_ACTIVE_HIGH>;
		gpio-miso = <&gpio0 ASPEED_GPIO(Z, 5) GPIO_ACTIVE_HIGH>;
		num-chipselects = <1>;
		cs-gpios = <&gpio0 ASPEED_GPIO(Z, 0) GPIO_ACTIVE_LOW>;

		tpmdev@0 {
			compatible = "tcg,tpm_tis-spi";
			spi-max-frequency = <33000000>;
			reg = <0>;
		};
	};


};

&uart1 {
	status = "okay";
};

&uart2 {
	// SOL Host Console
	status = "okay";
	pinctrl-0 = <>;

};

&uart3 {
	// SOL BMC Console
	status = "okay";
	pinctrl-0 = <>;
};

&uart5 {
	status = "okay";
	/* Workaround for AST2600 A0 */
	compatible = "snps,dw-apb-uart";
};

&uart6 {
	// SWB Console
	status = "okay";
};

&wdt1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdtrst1_default>;
	aspeed,reset-type = "soc";
	aspeed,external-signal;
	aspeed,ext-push-pull;
	aspeed,ext-active-high;
	aspeed,ext-pulse-duration = <256>;
};

&mac3 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii4_default>;
	no-hw-checksum;
	use-ncsi;
	ncsi-ctrl,start-redo-probe;
	ncsi-ctrl,no-channel-monitor;
	mlx,multi-host;
	ncsi-package = <1>;
	ncsi-channel = <1>;
	ncsi-rexmit = <1>;
	ncsi-timeout = <2>;
};

&rtc {
	status = "okay";
};

&fmc {
	status = "okay";
	flash@0 {
		reg = < 1 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.1";
		spi-max-frequency = <50000000>;
#include "facebook-bmc-vboot2-flash1-32MBdata0-layout.dtsi"
	};
	flash@1 {
		reg = < 0 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.0";
		spi-max-frequency = <50000000>;
#include "facebook-bmc-vboot2-flash0-layout.dtsi"
	};
};

&spi2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi2_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-max-frequency = <12000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
};

&kcs2 {
	kcs_addr = <0xca8>;
	status = "okay";
};

&kcs3 {
	kcs_addr = <0xca2>;
	status = "okay";
};

&lpc_snoop {
	status = "okay";
	snoop-ports = <0x80>;
};

//eSPI
&espi_ctrl {
	status = "okay";

	perif,memcyc-src-addr = <0x98000000>;
	perif,memcyc-size = <0x10000>;
	perif,dma-mode;

	oob,dma-mode;
	oob,dma-tx-desc-num = <0x2>;
	oob,dma-rx-desc-num = <0x8>;

	flash,dma-mode;
	flash,safs-mode = <0x2>;
};

&peci0 {
	status = "okay";
};

&sgpiom0 {
	status = "okay";
	gpio-ranges = <&pinctrl 0 244 128>;
	ngpios = <128>;
	base = <244>;				
	bus-frequency = <2000000>;	
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
	tmp75@4B {
		compatible = "ti,tmp75";
		reg = <0x4B>;
	};
};

&i2c2 {
	status = "okay";
};

//To BIC
&i2c3 {
	status = "okay";
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
};

&i2c4 {
	status = "okay";
	multi-master;
	aspeed,hw-timeout-ms = <1000>;
	// NIC1 FRU
	eeprom@52 {
		compatible = "atmel,24c64";
		reg = <0x52>;
	};
	tmp421@1F {
		compatible = "ti,tmp421";
		reg = <0x1F>;
	};
};

&i2c5 {
	status = "okay";
};

//To Me
&i2c6 {
	status = "okay";
	multi-master;
	bus-frequency = <400000>;
	aspeed,hw-timeout-ms = <1000>;
};

// To FPGA
&i2c7 {
	status = "okay";
};

// To PDB
&i2c8 {
	status = "okay";
};

//To GPU
&i2c9 {
	status = "okay";
};

// To GPU
&i2c11 {
	status = "okay";
	multi-master;
	aspeed,hw-timeout-ms = <1000>;
};

&i2c12 {
	status = "okay";
};

// TO OCP NIC
&i2c13 {
	status = "okay";
	// NIC FRU
	eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
	};
	tmp421@1F {
		compatible = "ti,tmp421";
		reg = <0x1F>;
	};
};

// To Debug card
&i2c14 {
	status = "okay";
	multi-master;
	aspeed,hw-timeout-ms = <1000>;
};

&i2c15 {
	status = "okay";
	// SCM FRU
	eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
	};
	// BSM FRU
	eeprom@56 {
		compatible = "atmel,24c64";
		reg = <0x56>;
	};

};

&adc0 {
	ref_voltage = <2500>;
	status = "okay";

	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
		&pinctrl_adc2_default &pinctrl_adc3_default
		&pinctrl_adc4_default &pinctrl_adc5_default
		&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	ref_voltage = <2500>;
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc10_default>;
};

&jtag1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_jtagm_default>;
};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&pcie {
	status = "okay";
};
