// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2022 Meta Platforms, Inc. and affiliates.

/dts-v1/;

#include "ast2600-facebook-netbmc-common.dtsi"

/ {
        model = "Facebook Sandia BMC";
        compatible = "facebook,sandia-bmc", "aspeed,ast2600";
};

&spi1 {
        reg = < 0x1e630000 0xc4
                0x30000000 0x1000000 >;

        flash@0 {
                status = "okay";
                m25p,fast-read;
                compatible = "jedec,spi-nor";
                label = "spi1.0";
                spi-rx-bus-width = <1>;
                spi-max-frequency = <10000000>;

                partitions {
                        compatible = "fixed-partitions";
                        #address-cells = <1>;
                        #size-cells = <1>;

                        bios_full@0 {
                               reg = <0x0 0x1000000>;
                               label = "bios_full";
                        };
                        bios@0 {
                               reg = <0x800000 0x800000>;
                               label = "bios";
                        };
                };
        };
};

&mac3 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rgmii4_default>;
        phy-mode = "rgmii";
        fixed-link {
                speed = <1000>;
                full-duplex;
        };
};

&i2c2 {
        multi-master;
        bus-frequency = <1000000>;

        cyclonus@20 {
                compatible = "cisco-fpga-bmc";
                reg = <0x20>;
                devid-none = <1>;

#include "cisco-cyclonus.dtsi"
        };
};

&i2c4 {
        bus-frequency = <1000000>;

        cpucpld@40 {
                compatible = "lattice_machx03";
                reg = <0x40>;
                devid-none = <1>;
        };
};

&i2c5 {
        bus-frequency = <1000000>;

        silverbolt@20 {
                compatible = "cisco-fpga-bmc";
                reg = <0x20>;
                devid-none = <1>;
#include "cisco-silverbolt.dtsi"
        };
};

&kcs2 {
        status = "okay";
        aspeed,lpc-io-reg = <0xca8>;
};

&kcs3 {
        status = "okay";
        aspeed,lpc-io-reg = <0xca2>;
};
