// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2020 Facebook Inc.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook Fuji BMC";
	compatible = "facebook,fuji-bmc", "aspeed,ast2600";

	aliases {
		serial0 = &uart5;

		/*
		 * I2C switch 2-0070, pca9548, total 8 child channels
		 * assigned bus number 14-21.
		 */
		i2c16 = &imux16;
		i2c17 = &imux17;
		i2c18 = &imux18;
		i2c19 = &imux19;
		i2c20 = &imux20;
		i2c21 = &imux21;
		i2c22 = &imux22;
		i2c23 = &imux23;

		/*
		 * I2C switch 8-0070, pca9548, total 8 child channels
		 * assigned bus number 22-29.
		 */
		i2c24 = &imux24;
		i2c25 = &imux25;
		i2c26 = &imux26;
		i2c27 = &imux27;
		i2c28 = &imux28;
		i2c29 = &imux29;
		i2c30 = &imux30;
		i2c31 = &imux31;

		/*
		 * I2C switch 11-0076, pca9548, total 8 child channels
		 * assigned bus number 30-37.
		 */
		i2c32 = &imux32;
		i2c33 = &imux33;
		i2c34 = &imux34;
		i2c35 = &imux35;
		i2c36 = &imux36;
		i2c37 = &imux37;
		i2c38 = &imux38;
		i2c39 = &imux39;

		i2c40 = &imux40;
		i2c41 = &imux41;
		i2c42 = &imux42;
		i2c43 = &imux43;
		i2c44 = &imux44;
		i2c45 = &imux45;
		i2c46 = &imux46;
		i2c47 = &imux47;

		i2c48 = &imux48;
		i2c49 = &imux49;
		i2c50 = &imux50;
		i2c51 = &imux51;
		i2c52 = &imux52;
		i2c53 = &imux53;
		i2c54 = &imux54;
		i2c55 = &imux55;

		i2c56 = &imux56;
		i2c57 = &imux57;
		i2c58 = &imux58;
		i2c59 = &imux59;
		i2c60 = &imux60;
		i2c61 = &imux61;
		i2c62 = &imux62;
		i2c63 = &imux63;

		i2c64 = &imux64;
		i2c65 = &imux65;
		i2c66 = &imux66;
		i2c67 = &imux67;
		i2c68 = &imux68;
		i2c69 = &imux69;
		i2c70 = &imux70;
		i2c71 = &imux71;

		i2c72 = &imux72;
		i2c73 = &imux73;
		i2c74 = &imux74;
		i2c75 = &imux75;
		i2c76 = &imux76;
		i2c77 = &imux77;
		i2c78 = &imux78;
		i2c79 = &imux79;

		i2c80 = &imux80;
		i2c81 = &imux81;
		i2c82 = &imux82;
		i2c83 = &imux83;
		i2c84 = &imux84;
		i2c85 = &imux85;
		i2c86 = &imux86;
		i2c87 = &imux87;

		i2c88 = &imux88;
		i2c89 = &imux89;
		i2c90 = &imux90;
		i2c91 = &imux91;
		i2c92 = &imux92;
		i2c93 = &imux93;
		i2c94 = &imux94;
		i2c95 = &imux95;

		i2c96 = &imux96;
		i2c97 = &imux97;
		i2c98 = &imux98;
		i2c99 = &imux99;
		i2c100 = &imux100;
		i2c101 = &imux101;
		i2c102 = &imux102;
		i2c103 = &imux103;

		i2c104 = &imux104;
		i2c105 = &imux105;
		i2c106 = &imux106;
		i2c107 = &imux107;
		i2c108 = &imux108;
		i2c109 = &imux109;
		i2c110 = &imux110;
		i2c111 = &imux111;

		i2c112 = &imux112;
		i2c113 = &imux113;
		i2c114 = &imux114;
		i2c115 = &imux115;
		i2c116 = &imux116;
		i2c117 = &imux117;
		i2c118 = &imux118;
		i2c119 = &imux119;

		i2c120 = &imux120;
		i2c121 = &imux121;
		i2c122 = &imux122;
		i2c123 = &imux123;
		i2c124 = &imux124;
		i2c125 = &imux125;
		i2c126 = &imux126;
		i2c127 = &imux127;

		i2c128 = &imux128;
		i2c129 = &imux129;
		i2c130 = &imux130;
		i2c131 = &imux131;
		i2c132 = &imux132;
		i2c133 = &imux133;
		i2c134 = &imux134;
		i2c135 = &imux135;

		i2c136 = &imux136;
		i2c137 = &imux137;
		i2c138 = &imux138;
		i2c139 = &imux139;
		i2c140 = &imux140;
		i2c141 = &imux141;
		i2c142 = &imux142;
		i2c143 = &imux143;

		mmc0 = &emmc;
	};

	chosen {
		bootargs = "console=ttyS0,9600n8 root=/dev/ram rw vmalloc=384M";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};
	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>, <&adc0 3>,
				<&adc0 4>, <&adc0 5>, <&adc0 6>, <&adc0 7>,
				<&adc1 0>, <&adc1 1>, <&adc1 2>, <&adc1 3>,
				<&adc1 4>, <&adc1 5>, <&adc1 6>, <&adc1 7>;
	};
};

&uart5 {
	/* Workaround for AST2600 A0 */
	compatible = "snps,dw-apb-uart";
};

&wdt1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";

	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		imux16: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		imux17: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		imux18: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		imux19: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		imux20: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux21: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux22: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux23: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";

	tpm_i2c_ptp@2e {
		compatible = "tcg,tpm_i2c_ptp";
		reg = <0x2e>;
		tpm-pirq = <&gpio0 ASPEED_GPIO(Z, 2) GPIO_ACTIVE_HIGH>;
	};
};

&i2c8 {
	status = "okay";

	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		imux24: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			i2c-switch@71 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x71>;

				imux48: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux49: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux50: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux51: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux52: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux53: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux54: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux55: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux25: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			i2c-switch@72 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x72>;

				imux56: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux57: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux58: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux59: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux60: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux61: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux62: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux63: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux26: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;

			i2c-switch@76 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x76>;

				imux64: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux65: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux66: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux67: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux68: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux69: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux70: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux71: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux27: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			i2c-switch@76 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x76>;

				imux72: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux73: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux74: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux75: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux76: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux77: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux78: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux79: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux28: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux29: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux30: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux31: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};

	};
};

&i2c9 {
	status = "okay";

	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x76>;

		imux32: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		imux33: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		imux34: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		imux35: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		imux36: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux37: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux38: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux39: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};

	};
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";

	i2c-switch@73 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x76>;

		imux40: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			i2c-switch@77 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x77>;

				imux80: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux81: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux82: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux83: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux84: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux85: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux86: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux87: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux41: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			i2c-switch@77 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x77>;

				imux88: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux89: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux90: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux91: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux92: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux93: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux94: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux95: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux42: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;

			i2c-switch@77 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x77>;

				imux96: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux97: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux98: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux99: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux100: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux101: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux102: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux103: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux43: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			i2c-switch@77 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x77>;

				imux104: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux105: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux106: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux107: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux108: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux109: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux110: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux111: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux44: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;

			i2c-switch@77 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x77>;

				imux112: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux113: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux114: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux115: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux116: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux117: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux118: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux119: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux45: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;

			i2c-switch@77 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x77>;

				imux120: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux121: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux122: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux123: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux124: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux125: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux126: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux127: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux46: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;

			i2c-switch@77 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x77>;

				imux128: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux129: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux130: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux131: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux132: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux133: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux134: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux135: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

		imux47: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;

			i2c-switch@77 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x77>;

				imux136: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				imux137: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				imux138: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				imux139: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};

				imux140: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};

			    imux141: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};

				imux142: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};

				imux143: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
				};
			};

		};

	};
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&i2c14 {
	status = "okay";
};

&i2c15 {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emmc_controller {
	status = "okay";
};

&emmc {
	status = "okay";

	non-removable;
	max-frequency = <100000000>;
	/* AST2600 A0 only support PIO mode */
	sdhci-caps-mask = <0x0 0x580000>;
#if 1
	bus-width = <4>;
#else
	bus-width = <8>;
	pinctrl-0 = <&pinctrl_emmc_default
			&pinctrl_emmcdat4_default
			&pinctrl_emmcdat5_default
			&pinctrl_emmcdat6_default
			&pinctrl_emmcdat7_default>;
#endif
};

&mdio1 {
	status = "okay";

	ethphy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac1 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default>;
};

&rtc {
	status = "okay";
};

&adc0 {
	ref_voltage = <2500>;
	status = "okay";

	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
		&pinctrl_adc2_default &pinctrl_adc3_default
		&pinctrl_adc4_default &pinctrl_adc5_default
		&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	ref_voltage = <2500>;
	status = "okay";

	pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default
		&pinctrl_adc10_default &pinctrl_adc11_default
		&pinctrl_adc12_default &pinctrl_adc13_default
		&pinctrl_adc14_default &pinctrl_adc15_default>;
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			u-boot@0 {
				reg = <0x0 0xe0000>; // 896KB
				label = "u-boot";
			};

			u-boot-env@e0000 {
				reg = <0xe0000 0x20000>; // 128KB
				label = "env";
			};

			fit@100000 {
				reg = <0x100000 0x1B00000>; // 27MB
				label = "fit";
			};

			data0@1c00000 {
				reg = <0x1c00000 0x400000>;
				label = "data0";
			};

			flash0@0 {
				reg = <0x0 0x2000000>;
				label = "flash0";
			};

		};
	};
};

&gpio0 {
	pin_gpio_b2 {
		gpios = <&gpio0 ASPEED_GPIO(B, 2) GPIO_ACTIVE_LOW>;
		output;
		line-name = "GPO1";
	};

	pin_gpio_f0 {
		gpios = <&gpio0 ASPEED_GPIO(F, 0) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_JTAG_MUX_IN";
	};

	pin_gpio_f1 {
		gpios = <&gpio0 ASPEED_GPIO(F, 1) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_UART_SEL_0";
	};

	pin_gpio_f2 {
		gpios = <&gpio0 ASPEED_GPIO(F, 2) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_FCM_1_SEL";
	};

	pin_gpio_f3 {
		gpios = <&gpio0 ASPEED_GPIO(F, 3) GPIO_ACTIVE_HIGH>;
		input;
		line-name = "FCM_2_CARD_PRESENT";
	};

	pin_gpio_f4 {
		gpios = <&gpio0 ASPEED_GPIO(F, 4) GPIO_ACTIVE_LOW>;
		input;
		line-name = "FCM_1_CARD_PRESENT";
	};

	pin_gpio_f5 {
		gpios = <&gpio0 ASPEED_GPIO(F, 5) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_SCM_CPLD_JTAG_EN_N";
	};

	pin_gpio_f6 {
		gpios = <&gpio0 ASPEED_GPIO(F, 6) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "FCM_2_CPLD_JTAG_EN_N";
	};

	pin_gpio_f7 {
		gpios = <&gpio0 ASPEED_GPIO(F, 7) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_FCM_2_SEL";
	};

	pin_gpio_g0 {
		gpios = <&gpio0 ASPEED_GPIO(G, 0) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "FCM_1_CPLD_JTAG_EN_N";
	};

	pin_gpio_g1 {
		gpios = <&gpio0 ASPEED_GPIO(G, 7) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_GPIO63";
	};

	pin_gpio_g2 {
		gpios = <&gpio0 ASPEED_GPIO(G, 2) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "UCD90160A_CNTRL";
	};

	pin_gpio_g3 {
		gpios = <&gpio0 ASPEED_GPIO(G, 3) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_UART_SEL_3";
	};

	pin_gpio_g4 {
		gpios = <&gpio0 ASPEED_GPIO(G, 4) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "SYS_CPLD_JTAG_EN_N";
	};

	pin_gpio_g6 {
		gpios = <&gpio0 ASPEED_GPIO(G, 6) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_I2C_SEL";
	};

	pin_gpio_g7 {
		gpios = <&gpio0 ASPEED_GPIO(G, 7) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_GPIO53";
	};

	pin_gpio_h0 {
		gpios = <&gpio0 ASPEED_GPIO(H, 0) GPIO_ACTIVE_LOW>;
		output;
		line-name = "GPIO5_SGPMCK";
	};

	pin_gpio_h1 {
		gpios = <&gpio0 ASPEED_GPIO(H, 1) GPIO_ACTIVE_LOW>;
		output;
		line-name = "GPIO0_SGPMLD";
	};

	pin_gpio_h2 {
		gpios = <&gpio0 ASPEED_GPIO(H, 2) GPIO_ACTIVE_LOW>;
		output;
		line-name = "GPIO3_SGPMO";
	};

	pin_gpio_h3 {
		gpios = <&gpio0 ASPEED_GPIO(H, 3) GPIO_ACTIVE_LOW>;
		input;
		line-name = "GPIO1_SGPMI";
	};

	pin_gpio_i5 {
		gpios = <&gpio0 ASPEED_GPIO(I, 5) GPIO_ACTIVE_LOW>;
		input;
		line-name = "FPGA_BMC_CONFIG_DONE";
	};

	pin_gpio_i7 {
		gpios = <&gpio0 ASPEED_GPIO(I, 7) GPIO_ACTIVE_LOW>;
		input;
		line-name = "FPGA_NSTATUS";
	};

	pin_gpio_l6 {
		gpios = <&gpio0 ASPEED_GPIO(L, 6) GPIO_ACTIVE_LOW>;
		input;
		line-name = "VGAHS_GPIO2";
	};

	pin_gpio_l7 {
		gpios = <&gpio0 ASPEED_GPIO(L, 7) GPIO_ACTIVE_LOW>;
		input;
		line-name = "VGAVS_GPIO4";
	};

	pin_gpio_m0 {
		gpios = <&gpio0 ASPEED_GPIO(M, 0) GPIO_ACTIVE_LOW>;
		input;
		line-name = "BMC_UART1_NCTS";
	};

	pin_gpio_m2 {
		gpios = <&gpio0 ASPEED_GPIO(M, 2) GPIO_ACTIVE_LOW>;
		input;
		line-name = "BMC_UART1_NDSR";
	};

	pin_gpio_m3 {
		gpios = <&gpio0 ASPEED_GPIO(M, 3) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_UART_SEL_1";
	};

	pin_gpio_m4 {
		gpios = <&gpio0 ASPEED_GPIO(M, 4) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_UART1_NDTR";
	};

	pin_gpio_m5 {
		gpios = <&gpio0 ASPEED_GPIO(M, 5) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_UART1_NRTS";
	};

	pin_gpio_n0 {
		gpios = <&gpio0 ASPEED_GPIO(N, 0) GPIO_ACTIVE_LOW>;
		input;
		line-name = "TEMP_SENSOR_ALERT";
	};

	pin_gpio_n1 {
		gpios = <&gpio0 ASPEED_GPIO(N, 1) GPIO_ACTIVE_LOW>;
		input;
		line-name = "RESERVED_GPIO67";
	};

	pin_gpio_n2 {
		gpios = <&gpio0 ASPEED_GPIO(N, 2) GPIO_ACTIVE_LOW>;
		input;
		line-name = "CPU_RST#";
	};

	pin_gpio_p0 {
		gpios = <&gpio0 ASPEED_GPIO(P, 0) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_UART_SEL_2";
	};

	pin_gpio_p2 {
		gpios = <&gpio0 ASPEED_GPIO(P, 2) GPIO_ACTIVE_LOW>;
		input;
		line-name = "GPIO85_PASSTHRU1_IN";
	};

	pin_gpio_p3 {
		gpios = <&gpio0 ASPEED_GPIO(P, 3) GPIO_ACTIVE_LOW>;
		output;
		line-name = "GPIO45_PASSTHRU1_OUT";
	};

	pin_gpio_p4 {
		gpios = <&gpio0 ASPEED_GPIO(P, 4) GPIO_ACTIVE_LOW>;
		input;
		line-name = "GPIO109_PASSTHRU2_IN";
	};

	pin_gpio_p5 {
		gpios = <&gpio0 ASPEED_GPIO(P, 5) GPIO_ACTIVE_LOW>;
		input;
		line-name = "GPIO21_PASSTHRU2_OUT";
	};

	pin_gpio_p6 {
		gpios = <&gpio0 ASPEED_GPIO(P, 6) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_GPIO61";
	};

	pin_gpio_v0 {
		gpios = <&gpio0 ASPEED_GPIO(V, 0) GPIO_ACTIVE_LOW>;
		input;
		line-name = "GPIO37_INDICATOR#";
	};

	pin_gpio_v1 {
		gpios = <&gpio0 ASPEED_GPIO(V, 1) GPIO_ACTIVE_LOW>;
		output;
		line-name = "UCD90160A_2_GPI1";
	};

	pin_gpio_v2 {
		gpios = <&gpio0 ASPEED_GPIO(V, 2) GPIO_ACTIVE_LOW>;
		output;
		line-name = "UCD90160A_1_GPI1";
	};

	pin_gpio_v3 {
		gpios = <&gpio0 ASPEED_GPIO(V, 3) GPIO_ACTIVE_LOW>;
		input;
		line-name = "PWRMONITOR_BMC";
	};

	pin_gpio_v4 {
		gpios = <&gpio0 ASPEED_GPIO(V, 4) GPIO_ACTIVE_LOW>;
		input;
		line-name = "BMC_PWRGD";
	};

	pin_gpio_v5 {
		gpios = <&gpio0 ASPEED_GPIO(V, 5) GPIO_ACTIVE_LOW>;
		output;
		line-name = "FPGA_DEV_CLR_N";
	};

	pin_gpio_v6 {
		gpios = <&gpio0 ASPEED_GPIO(V, 6) GPIO_ACTIVE_LOW>;
		output;
		line-name = "FPGA_DEV_OE";
	};

	pin_gpio_v7 {
		gpios = <&gpio0 ASPEED_GPIO(V, 7) GPIO_ACTIVE_LOW>;
		output;
		line-name = "FPGA_CONFIG_SEL";
	};

	pin_gpio_x0 {
		gpios = <&gpio0 ASPEED_GPIO(X, 0) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_TPM_SPI_CS_N";
	};

	pin_gpio_x1 {
		gpios = <&gpio0 ASPEED_GPIO(X, 1) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI2CS1#_GPIO86";
	};

	pin_gpio_x2 {
		gpios = <&gpio0 ASPEED_GPIO(X, 2) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI2CS2#_GPIO84";
	};

	pin_gpio_x3 {
		gpios = <&gpio0 ASPEED_GPIO(X, 3) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI2CK_GPIO78";
	};

	pin_gpio_x4 {
		gpios = <&gpio0 ASPEED_GPIO(X, 4) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI2MOSI_GPIO82";
	};

	pin_gpio_x5 {
		gpios = <&gpio0 ASPEED_GPIO(X, 5) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI2MISO_GPIO80";
	};

	pin_gpio_x6 {
		gpios = <&gpio0 ASPEED_GPIO(X, 6) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_FPGA_JTAG_EN";
	};

	pin_gpio_x7 {
		gpios = <&gpio0 ASPEED_GPIO(X, 7) GPIO_ACTIVE_LOW>;
		input;
		line-name = "BMC_TPM_SPI_PIRQ_N";
	};

	pin_gpio_y0 {
		gpios = <&gpio0 ASPEED_GPIO(Y, 0) GPIO_ACTIVE_LOW>;
		output;
		line-name = "WDTRST1_GPIO59";
	};

	pin_gpio_y1 {
		gpios = <&gpio0 ASPEED_GPIO(Y, 1) GPIO_ACTIVE_LOW>;
		output;
		line-name = "WDTRST2_GPIO51";
	};

	pin_gpio_y2 {
		gpios = <&gpio0 ASPEED_GPIO(Y, 2) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_GPIO57";
	};

	pin_gpio_y3 {
		gpios = <&gpio0 ASPEED_GPIO(Y, 3) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_GPIO55";
	};

	pin_gpio_y4 {
		gpios = <&gpio0 ASPEED_GPIO(Y, 4) GPIO_ACTIVE_LOW>;
		output;
		line-name = "FWSPI_IO2_GPIO41";
	};

	pin_gpio_y5 {
		gpios = <&gpio0 ASPEED_GPIO(Y, 5) GPIO_ACTIVE_LOW>;
		output;
		line-name = "FWSPI_IO3_GPIO43";
	};

	pin_gpio_y7 {
		gpios = <&gpio0 ASPEED_GPIO(Y, 7) GPIO_ACTIVE_LOW>;
		input;
		line-name = "GPIO35_FWSPIWP#";
	};

	pin_gpio_z0 {
		gpios = <&gpio0 ASPEED_GPIO(Z, 0) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI1CS1#_GPIO124";
	};

	pin_gpio_z1 {
		gpios = <&gpio0 ASPEED_GPIO(Z, 1) GPIO_ACTIVE_LOW>;
		output;
		line-name = "I2C_TPM_PP";
	};

	pin_gpio_z2 {
		gpios = <&gpio0 ASPEED_GPIO(Z, 2) GPIO_ACTIVE_HIGH>;
		input;
		line-name = "I2C_TPM_INT_N";
	};

	pin_gpio_z3 {
		gpios = <&gpio0 ASPEED_GPIO(Z, 3) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI1CK_GPIO122";
	};

	pin_gpio_z4 {
		gpios = <&gpio0 ASPEED_GPIO(Z, 4) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI1MOSI_IO0_GPO3";
	};

	pin_gpio_z5 {
		gpios = <&gpio0 ASPEED_GPIO(Z, 5) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SPI1MISO_IO1_GPO4";
	};

	pin_gpio_z6 {
		gpios = <&gpio0 ASPEED_GPIO(Z, 6) GPIO_ACTIVE_LOW>;
		output;
		line-name = "GPO5_SPI1_IO2";
	};

	pin_gpio_z7 {
		gpios = <&gpio0 ASPEED_GPIO(Z, 7) GPIO_ACTIVE_LOW>;
		input;
		line-name = "GPIO120_SPI1_IO3";
	};
};
