// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2020 Facebook Inc.

/dts-v1/;

#include "aspeed-g6.dtsi"

/ {
	model = "Facebook Fuji BMC";
	compatible = "facebook,fuji-bmc", "aspeed,ast2600";

	aliases {
		serial0 = &uart5;
	};

	chosen {
		bootargs = "console=ttyS0,9600n8 root=/dev/ram rw vmalloc=384M";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};
};

&uart5 {
	/* Workaround for AST2600 A0 */
	compatible = "snps,dw-apb-uart";
};

&wdt1 {
	status = "okay";
};

&mdio1 {
	status = "okay";

	ethphy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac1 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default>;
};

&rtc {
	status = "okay";
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			u-boot@0 {
				reg = <0x0 0xe0000>; // 896KB
				label = "u-boot";
			};

			u-boot-env@e0000 {
				reg = <0xe0000 0x20000>; // 128KB
				label = "env";
			};

			fit@100000 {
				reg = <0x100000 0x1B00000>; // 27MB
				label = "fit";
			};

			data0@1c00000 {
				reg = <0x1c00000 0x400000>;
				label = "data0";
			};

			flash0@0 {
				reg = <0x0 0x2000000>;
				label = "flash0";
			};

		};
	};
};
