// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2020 Facebook Inc.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook Cloudripper BMC";
	compatible = "facebook,cloudripper-bmc", "aspeed,ast2600";

	aliases {
		serial0 = &uart1;

		mmc0 = &emmc;
		spi2 = &spi_gpio;
	};

	chosen {
		bootargs = "console=ttyS0,9600n8 root=/dev/ram rw vmalloc=384M";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	spi_gpio: spi-gpio {
		status = "okay";
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		gpio-sck = <&gpio0 ASPEED_GPIO(X, 3) GPIO_ACTIVE_HIGH>;
		gpio-mosi = <&gpio0 ASPEED_GPIO(X, 4) GPIO_ACTIVE_HIGH>;
		gpio-miso = <&gpio0 ASPEED_GPIO(X, 5) GPIO_ACTIVE_HIGH>;
		num-chipselects = <1>;
		cs-gpios = <&gpio0 ASPEED_GPIO(X, 0) GPIO_ACTIVE_LOW>;

		tpmdev@0 {
			compatible = "tcg,tpm_tis-spi";
			spi-max-frequency = <33000000>;
			reg = <0>;
		};
	};
};

&uart1 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";

	tpm_i2c_ptp@2e {
		compatible = "tcg,tpm_i2c_ptp";
		reg = <0x2e>;
		tpm-pirq = <&gpio0 ASPEED_GPIO(Z, 2) GPIO_ACTIVE_HIGH>;
	};
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&i2c14 {
	status = "okay";
};

&i2c15 {
	status = "okay";
};

&vhub {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emmc_controller {
	status = "okay";
};

&emmc {
	status = "okay";

	non-removable;
	max-frequency = <100000000>;
	/* AST2600 A0 only support PIO mode */
	// sdhci-caps-mask = <0x0 0x580000>;
	bus-width = <4>;
};

&mdio1 {
	status = "okay";

	ethphy1: ethernet-phy@13 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0d>;
	};
};

&mac3 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii4_default>;
};

&rtc {
	status = "okay";
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			u-boot@0 {
				reg = <0x0 0xe0000>; // 896KB
				label = "u-boot";
			};

			u-boot-env@e0000 {
				reg = <0xe0000 0x20000>; // 128KB
				label = "env";
			};

			fit@100000 {
				reg = <0x100000 0x1B00000>; // 27MB
				label = "fit";
			};

			data0@1c00000 {
				reg = <0x1c00000 0x400000>;
				label = "data0";
			};

			flash0@0 {
				reg = <0x0 0x2000000>;
				label = "flash0";
			};

		};
	};
};
