// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2018 Facebook Inc.
/dts-v1/;

#include "aspeed-g5.dtsi"

/ {
	model = "Facebook Angels Landing BMC";
	compatible = "facebook,angelslanding-bmc", "aspeed,ast2500";

	aliases {
		/*
		 * Override the default serial aliases to avoid breaking
		 * the legacy applications.
		 */
		serial0 = &uart5;
		serial1 = &uart1;

		i2c16 = &imux16;
		i2c17 = &imux17;
		i2c18 = &imux18;
		i2c19 = &imux19;
		i2c20 = &imux20;
		i2c21 = &imux21;
		i2c22 = &imux22;
		i2c23 = &imux23;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "debug console=ttyS4,57600n8 root=/dev/ram rw";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>, <&adc 4>,
					<&adc 5>, <&adc 6>, <&adc 7>,<&adc 8>, <&adc 9>,
					<&adc 10>, <&adc 11>,<&adc 12>,<&adc 13>, <&adc 14>;
	};
};

&wdt1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdtrst1_default>;
	aspeed,reset-type = "soc";
	aspeed,external-signal;
	aspeed,ext-push-pull;
	aspeed,ext-active-high;
	aspeed,ext-pulse-duration = <256>;
};

&fmc {
	status = "okay";
	flash@0 {
		reg = < 1 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.1";
		spi-max-frequency = <12000000>;
#include "facebook-bmc-flash1-layout.dtsi"
	};
	flash@1 {
		reg = < 0 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.0";
		spi-max-frequency = <12000000>;
#include "facebook-bmc-pfr-flash0-layout.dtsi"
	};
};

&spi1 {
	status = "okay";
	compatible = "aspeed,ast2500-spi-master";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default &pinctrl_spi1cs1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-max-frequency = <12000000>;
	};
	tpm@1 {
		reg = < 1 >;
		compatible = "tcg,tpm_tis-spi";
		spi-max-frequency = <12000000>;
		status = "okay";
	};
};

&ibt {
	status = "disabled";
};

&lpc_ctrl {
	// Enable LPC clock
	status = "okay";
};

&lpc_snoop {
	status = "okay";
	snoop-ports = <0x80>;
};

&gpio {
	aspeed,skip-init-cmdsrc;
};

&rtc {
	status = "okay";
};

&uart1 {
	// Host Console
	resets = <>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
		     &pinctrl_rxd1_default>;
};

&uart2 {
	// SOL Host Console
	resets = <>;
	status = "okay";
};

&uart3 {
	// SOL BMC Console
	status = "okay";
};

&uart5 {
	// BMC Console
	status = "okay";
};

&kcs2 {
	// BMC KCS channel 2
	status = "okay";
	kcs_addr = <0xca8>;
};

&kcs3 {
	// BMC KCS channel 3
	status = "okay";
	kcs_addr = <0xca2>;
};

&mac0 {
	status = "okay";
	no-hw-checksum;
	use-ncsi;
	ncsi-package = <2>;
	ncsi-channel = <2>;
	ncsi-rexmit = <1>;
};

&mac1 {
	status = "okay";
	no-hw-checksum;
	use-ncsi;
	ncsi-package = <2>;
	ncsi-channel = <2>;
	ncsi-rexmit = <1>;
};

&peci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&adc {
	status = "okay";
};

&i2c0 {
	multi-master;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c1 {
	status = "okay";
	pxe1110@4A {
		compatible = "infineon,pxe1110c";
		reg = <0x4a>;
	};
};

&i2c2 {
	multi-master;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c3 {
	multi-master;
	status = "okay";
};

&i2c4 {
	status = "okay";
	// I/O Expander
	pca9539@76 {
		compatible = "nxp,pca9539";
		reg = <0x76>;
	};
	pca9539@77 {
		compatible = "nxp,pca9539";
		reg = <0x77>;
	};
};

&i2c5 {
	multi-master;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c6 {
	multi-master;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c7 {
	multi-master;
	status = "okay";
};

&i2c8 {
	multi-master;
	bus-frequency = <400000>;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c13 {
	status = "okay";
 	// BSM FRU
	eeprom@56 {
		compatible = "atmel,24c64";
		reg = <0x56>;
	};

	i2c-switch@71 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;
		imux16: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		imux17: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		imux18: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		imux19: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			tmp421@4c {
				compatible = "ti,tmp421";
				reg = <0x4c>;
			};
			tmp421@4e {
				compatible = "ti,tmp421";
				reg = <0x4e>;
			};
			tmp421@4f {
				compatible = "ti,tmp421";
				reg = <0x4f>;
			};
		};

		imux20: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux21: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux22: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux23: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};
};

&sdhci_slot0 {
	// eMMC
	status = "okay";
	bus-width = <8>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd1_default>;
	broken-cd;
};

&sram {
  compatible = "mmio-sram", "syscon";
};
