// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2019 Facebook Inc.
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook Wedge 400 BMC";
	compatible = "facebook,wedge400-bmc", "aspeed,ast2500";

	aliases {
		/*
		 * I2C switch 2-0070, pca9548, total 8 child channels
		 * assigned bus number 14-21.
		 */
		i2c14 = &imux14;
		i2c15 = &imux15;
		i2c16 = &imux16;
		i2c17 = &imux17;
		i2c18 = &imux18;
		i2c19 = &imux19;
		i2c20 = &imux20;
		i2c21 = &imux21;

		/*
		 * I2C switch 8-0070, pca9548, total 8 child channels
		 * assigned bus number 22-29.
		 */
		i2c22 = &imux22;
		i2c23 = &imux23;
		i2c24 = &imux24;
		i2c25 = &imux25;
		i2c26 = &imux26;
		i2c27 = &imux27;
		i2c28 = &imux28;
		i2c29 = &imux29;

		/*
		 * I2C switch 11-0076, pca9548, total 8 child channels
		 * assigned bus number 30-37.
		 */
		i2c30 = &imux30;
		i2c31 = &imux31;
		i2c32 = &imux32;
		i2c33 = &imux33;
		i2c34 = &imux34;
		i2c35 = &imux35;
		i2c36 = &imux36;
		i2c37 = &imux37;
	};

	chosen {
		stdout-path = &uart1;
		bootargs = "console=ttyS0,9600n8 root=/dev/ram rw";
	};

	memory@80000000 {
		reg = <0x80000000 0x40000000>;
	};

	ast-adc-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
			      <&adc 4>;
	};
};

&wdt1 {
	status = "okay";
	aspeed,reset-type = "system";
};

&wdt2 {
	status = "disabled";
};

&fmc {
	status = "okay";

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
#include "facebook-bmc-flash-layout.dtsi"
	};
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
		     &pinctrl_rxd1_default>;
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd2_default
		     &pinctrl_rxd2_default>;
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd3_default
		     &pinctrl_rxd3_default>;
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd4_default
		     &pinctrl_rxd4_default>;
};

&uart5 {
	status = "okay";
};

&mac1 {
	status = "okay";
	no-hw-checksum;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
};

&i2c0 {
	status = "okay";
	multi-master;
	bus-frequency = <1000000>;
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";

	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		imux14: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		imux15: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		imux16: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		imux17: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		imux18: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux19: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux20: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux21: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";

	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		imux22: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		imux23: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		imux24: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		imux25: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		imux26: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux27: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux28: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux29: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};

	};
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";

	i2c-switch@76 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x76>;

		imux30: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		imux31: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		imux32: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		imux33: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		imux34: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux35: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux36: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux37: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};

	};
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&adc {
	status = "okay";
};

&rtc {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&vhub {
	status = "okay";
};

&spi1 {
	status = "okay";
	compatible = "aspeed,ast2500-spi-master";

	spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <8250000>;
		reg = <0>;
	};
};

&sdhci_slot1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd2_default>;
};

&jtag {
	status = "okay";
};

&gpio {
	pin_gpio_a3 {
		gpios = <ASPEED_GPIO(A, 3) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_EMMC_RST_N_R";
	};

	pin_gpio_aa0 {
		gpios = <ASPEED_GPIO(AA, 0) GPIO_ACTIVE_LOW>;
		input;
		line-name = "DEBUG_PRESENT_N";
	};

	pin_gpio_aa1 {
		gpios = <ASPEED_GPIO(AA, 1) GPIO_ACTIVE_LOW>;
		output;
		line-name = "SYS_CPLD_RST_N";
	};

	pin_gpio_aa2 {
		gpios = <ASPEED_GPIO(AA, 2) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SYS_CPLD_INT_N";
	};

	pin_gpio_aa7 {
		gpios = <ASPEED_GPIO(AA, 7) GPIO_ACTIVE_LOW>;
		output;
		line-name = "BMC_SCM_CPLD_EN";
	};

	pin_gpio_ab0 {
		gpios = <ASPEED_GPIO(AB, 0) GPIO_ACTIVE_HIGH>;
		input;
		line-name = "CPLD_INT_BMC";
	};

	pin_gpio_ac5 {
		gpios = <ASPEED_GPIO(AC, 5) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SCM_LPC_FRAME_N";
	};

	pin_gpio_ac6 {
		gpios = <ASPEED_GPIO(AC, 6) GPIO_ACTIVE_LOW>;
		input;
		line-name = "SCM_LPC_SERIRQ_N";
	};

	pin_gpio_ac7 {
		gpios = <ASPEED_GPIO(AC, 7) GPIO_ACTIVE_LOW>;
		input;
		line-name = "BMC_LPCRST_N";
	};

	pin_gpio_e2 {
		gpios = <ASPEED_GPIO(E, 2) GPIO_ACTIVE_HIGH>;
		input;
		line-name = "TH3_POWER_OK";
	};

	pin_gpio_f4 {
		gpios = <ASPEED_GPIO(F, 4) GPIO_ACTIVE_HIGH>;
		both;
		line-name = "CPU_CATERR_MSMI";
	};

	pin_gpio_g0 {
		gpios = <ASPEED_GPIO(G, 0) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_JTAG_MUX_IN";
	};

	pin_gpio_g1 {
		gpios = <ASPEED_GPIO(G, 1) GPIO_ACTIVE_LOW>;
		output;
		line-name = "DOM_FPGA1_JTAG_EN_N";
	};

	pin_gpio_g2 {
		gpios = <ASPEED_GPIO(G, 2) GPIO_ACTIVE_LOW>;
		output;
		line-name = "DOM_FPGA2_JTAG_EN_N";
	};

	pin_gpio_g4 {
		gpios = <ASPEED_GPIO(G, 4) GPIO_ACTIVE_HIGH>;
		input;
		line-name = "BMC_CPLD_BOARD_REV_ID0";
	};

	pin_gpio_g5 {
		gpios = <ASPEED_GPIO(G, 5) GPIO_ACTIVE_HIGH>;
		input;
		line-name = "BMC_CPLD_BOARD_REV_ID1";
	};

	pin_gpio_g6 {
		gpios = <ASPEED_GPIO(G, 6) GPIO_ACTIVE_HIGH>;
		input;
		line-name = "BMC_CPLD_BOARD_REV_ID2";
	};

	pin_gpio_i4 {
		gpios = <ASPEED_GPIO(I, 4) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_SPI1_CS0";
	};

	pin_gpio_i5 {
		gpios = <ASPEED_GPIO(I, 5) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "BMC_SPI1_CLK";
	};

	pin_gpio_i6 {
		gpios = <ASPEED_GPIO(I, 6) GPIO_ACTIVE_HIGH>;
		line-name = "BMC_SPI1_MOSI";
	};

	pin_gpio_i7 {
		gpios = <ASPEED_GPIO(I, 7) GPIO_ACTIVE_HIGH>;
		line-name = "BMC_SPI1_MISO";
	};

	pin_gpio_j0 {
		gpios = <ASPEED_GPIO(J, 0) GPIO_ACTIVE_HIGH>;
		output;
		line-name = "PWR_CPLD_JTAG_EN_N";
	};

	pin_gpio_j1 {
		gpios = <ASPEED_GPIO(J, 1) GPIO_ACTIVE_LOW>;
		output;
		line-name = "SYS_CPLD_JTAG_EN_N";
	};

	pin_gpio_j2 {
		gpios = <ASPEED_GPIO(J, 2) GPIO_ACTIVE_LOW>;
		output;
		line-name = "SCM_CPLD_JTAG_EN_N";
	};

	pin_gpio_j3 {
		gpios = <ASPEED_GPIO(J, 3) GPIO_ACTIVE_LOW>;
		output;
		line-name = "FCM_CPLD_JTAG_EN_N";
	};
};

&uhci {
	status = "okay";
};

