// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2018 Facebook Inc.
/dts-v1/;

#include <dt-bindings/gpio/aspeed-gpio.h>
#include "ast2400-facebook-netbmc-common.dtsi"

/ {
	model = "Facebook Wedge 100 BMC";
	compatible = "facebook,wedge100-bmc", "aspeed,ast2400";

	aliases {
		/*
		 * NOTE: spi1 and spi2 shares exactly the same (4) pins,
		 * so technically they are the same bus. But we have to
		 * create 2 logical buses due to hardware limitations:
		 *  - backup bios flash:
		 *    registered under spi1 and controlled by aspeed spi
		 *    controller.
		 *  - internal switch eeprom:
		 *    registered under spi2 and controlled by spi-gpio.
		 *    The eeprom is not compatible with aspeed spi master
		 *    due to clock/speed mismatch.
		 */
		spi1 = &spi;
		spi2 = &spi_gpio;
	};

	chosen {
		stdout-path = &uart3;
		bootargs = "console=ttyS2,9600n8 root=/dev/ram rw";
	};

	spi_gpio: spi-gpio {
		status = "okay";
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		cs-gpios = <&gpio ASPEED_GPIO(I, 4) GPIO_ACTIVE_HIGH>;
		sck-gpios = <&gpio ASPEED_GPIO(I, 5) GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpio ASPEED_GPIO(I, 6) GPIO_ACTIVE_HIGH>;
		miso-gpios = <&gpio ASPEED_GPIO(I, 7) GPIO_ACTIVE_HIGH>;
		num-chipselects = <1>;

		eeprom@0 {
			compatible = "atmel,at93c46d";
			reg = <0>;
			spi-max-frequency = <1000000>;
			data-size = <16>;
			spi-cs-high;
		};
	};

	ast-adc-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 5>, <&adc 6>, <&adc 7>, <&adc 8>, <&adc 9>;
	};
};

&wdt2 {
	status = "okay";
	aspeed,reset-type = "system";
};

&fmc {
	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "spi0.1";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			flash1@0 {
				reg = <0x0 0x2000000>;
				label = "flash1";
			};
		};
	};
};

&i2c7 {
	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		i2c-mux-idle-disconnect;
	};
};

&i2c9 {
	status = "okay";
};


&vhub {
	status = "okay";
};

&kcs2 {
	status = "okay";
	aspeed,lpc-io-reg = <0xca8>;
};

&kcs3 {
	status = "okay";
	aspeed,lpc-io-reg = <0xca2>;
};

&spi {
	status = "okay";
	compatible = "aspeed,ast2400-spi-master";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <24750000>;
		reg = <0>;
	};
};

&adc {
	status = "okay";
};
