// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2018 Facebook Inc.
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/leds/leds-pca955x.h>
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook Emerald Pools BMC";
	compatible = "facebook,emeraldpools-bmc", "aspeed,ast2500";

	aliases {
		/*
		 * Override the default serial aliases to avoid breaking
		 * the legacy applications.
		 */
		serial0 = &uart5;
		serial1 = &uart1;

		i2c16 = &imux16;
		i2c17 = &imux17;
		i2c18 = &imux18;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "debug console=ttyS4,57600n8 root=/dev/ram rw";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
					<&adc 4>, <&adc 7>, <&adc 8>;
	};
};

&wdt1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdtrst1_default>;
	aspeed,reset-type = "soc";
	aspeed,external-signal;
	aspeed,ext-push-pull;
	aspeed,ext-active-high;
	aspeed,ext-pulse-duration = <256>;
};

&fmc {
	status = "okay";
	flash@0 {
		reg = < 1 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.1";
		spi-max-frequency = <40000000>;
#include "facebook-bmc-flash1-layout.dtsi"
	};
	flash@1 {
		reg = < 0 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.0";
		spi-max-frequency = <40000000>;
#include "facebook-bmc-pfr-flash0-layout.dtsi"
	};
};

&spi1 {
	status = "okay";
	compatible = "aspeed,ast2500-spi-master";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	tpmdev@0 {
		reg = <0>;
		compatible = "tcg,tpm_tis-spi";
		spi-max-frequency = <12000000>;
		status = "okay";
	};
};

&spi2 {
	status = "okay";
	compatible = "aspeed,ast2500-spi-master";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi2ck_default &pinctrl_spi2cs0_default &pinctrl_spi2miso_default &pinctrl_spi2mosi_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		spi-max-frequency = <12000000>;
		label = "switch0";
	};
};

&uart1 {
	// OAM Console
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
		     &pinctrl_rxd1_default>;
};

&uart5 {
	// BMC Console
	status = "okay";
};

&adc {
	status = "okay";
};

&i2c0 {
	multi-master;
	status = "okay";
};

&i2c1 {
	multi-master;
	status = "okay";
};

&i2c2 {
	multi-master;
	status = "okay";
};

&i2c3 {
	multi-master;
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
	// Voltage regulators
	VDD@0x30 {
		compatible = "mps,mpq8645p";
		reg = <0x30>;
	};
	VDD@0x31 {
		compatible = "mps,mpq8645p";
		reg = <0x31>;
	};
	VDD@0x32 {
		compatible = "mps,mpq8645p";
		reg = <0x32>;
	};
	VDD@0x33 {
		compatible = "mps,mpq8645p";
		reg = <0x33>;
	};
	AVD@0x34 {
		compatible = "mps,mpq8645p";
		reg = <0x34>;
	};
	AVD@0x35 {
		compatible = "mps,mpq8645p";
		reg = <0x35>;
	};
	AVD@0x36 {
		compatible = "mps,mpq8645p";
		reg = <0x36>;
	};
	AVD@0x3b {
		compatible = "mps,mpq8645p";
		reg = <0x3b>;
	};
	// Muxer emulated by CPLD
	i2c-switch@70 {
		compatible = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		imux16: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			// P12V Hot swap controller
			ltc4282@53 {
				compatible = "lltc,ltc4282";
				reg = <0x53>;
			};
			// P48V Hot swap controller
			adm1272@13 {
				compatible = "adi,adm1272";
				reg = <0x13>;
				fast-gate-disable;
			};
			// ADC for monitoring vicor temperature
			tla2024@48 {
				compatible = "ti,tla2024";
				reg = <0x48>;
				vin@0 {
					single-channel = <0>;
				};
				vin@1 {
					single-channel = <1>;
				};
				vin@2 {
					single-channel = <2>;
				};
				vin@3 {
					single-channel = <3>;
				};
			};
			// ADC for monitoring vicor temperature
			tla2024@49 {
				compatible = "ti,tla2024";
				reg = <0x49>;
				vin@0 {
					single-channel = <0>;
				};
				vin@1 {
					single-channel = <1>;
				};
				vin@2 {
					single-channel = <2>;
				};
				vin@3 {
					single-channel = <3>;
				};
			};
			// PDB FRUID
			eeprom@54 {
				compatible = "atmel,24c64";
				reg = <0x54>;
			};
		};

		imux17: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			// P12V Hot swap controller
			ltc4282@40 {
				compatible = "lltc,ltc4282";
				reg = <0x40>;
			};
			// P48V Hot swap controller
			adm1272@10 {
				compatible = "adi,adm1272";
				reg = <0x10>;
				fast-gate-disable;
			};
			// PDB Outlet temperature
			tmp421@4c {
				compatible = "ti,tmp421";
				reg = <0x4c>;
			};
		};

		imux18: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			// P12V Hot swap controller
			adm1278@42 {
				compatible = "adi,adm1278";
				reg = <0x42>;
			};
			ltc4282@43 {
				compatible = "lltc,ltc4282";
				reg = <0x43>;
			};
			// LED driver
			pca9552@67 {
				compatible = "nxp,pca9552";
				reg = <0x67>;
				#address-cells = <1>;
				#size-cells = <0>;
				gpio-controller;
				#gpio-cells = <2>;

				// Fan present
				gpio@0 {
					reg = <0>;
					type = <PCA955X_TYPE_GPIO>;
				};
				gpio@1 {
					reg = <1>;
					type = <PCA955X_TYPE_GPIO>;
				};
				gpio@2 {
					reg = <2>;
					type = <PCA955X_TYPE_GPIO>;
				};
				gpio@3 {
					reg = <3>;
					type = <PCA955X_TYPE_GPIO>;
				};
				// Fan power
				gpio@4 {
					reg = <4>;
					type = <PCA955X_TYPE_GPIO>;
				};
				gpio@5 {
					reg = <5>;
					type = <PCA955X_TYPE_GPIO>;
				};
				gpio@6 {
					reg = <6>;
					type = <PCA955X_TYPE_GPIO>;
				};
				gpio@7 {
					reg = <7>;
					type = <PCA955X_TYPE_GPIO>;
				};
				// Fan OK LED
				led@8 {
					reg = <8>;
					type = <PCA955X_TYPE_GPIO>;
				};
				led@9 {
					reg = <9>;
					type = <PCA955X_TYPE_GPIO>;
				};
				led@10 {
					reg = <10>;
					type = <PCA955X_TYPE_GPIO>;
				};
				led@11 {
					reg = <11>;
					type = <PCA955X_TYPE_GPIO>;
				};
				// Fan fail LED
				led@12 {
					reg = <12>;
					type = <PCA955X_TYPE_GPIO>;
				};
				led@13 {
					reg = <13>;
					type = <PCA955X_TYPE_GPIO>;
				};
				led@14 {
					reg = <14>;
					type = <PCA955X_TYPE_GPIO>;
				};
				led@15 {
					reg = <15>;
					type = <PCA955X_TYPE_GPIO>;
				};
			};
			// ADC for monitoring fan voltage/current
			adc128@1d {
				compatible = "ti,adc128d818";
				reg = <0x1d>;
				ti,mode = /bits/ 8 <1>;
			};
		};
	};

};

&i2c6 {
	status = "okay";
	// Baseboard FRUID
	eeprom@54 {
		compatible = "atmel,24c64";
		reg = <0x54>;
	};
	// GPU thermal sensor
	tmp421@4c {
		compatible = "ti,tmp421";
		reg = <0x4c>;
	};
	tmp421@4f {
		compatible = "ti,tmp421";
		reg = <0x4f>;
	};
	// RTC
	rtc@51 {
		compatible = "nxp,pcf85263";
		reg = <0x51>;
	};
};

&i2c7 {
	status = "okay";
	// GPIO expander to OAM
	pca9555@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
	};
	pca9555@21 {
		compatible = "nxp,pca9555";
		reg = <0x21>;
	};
	pca9555@22 {
		compatible = "nxp,pca9555";
		reg = <0x22>;
	};
	pca9555@23 {
		compatible = "nxp,pca9555";
		reg = <0x23>;
	};
	pca9555@24 {
		compatible = "nxp,pca9555";
		reg = <0x24>;
	};
	pca9555@25 {
		compatible = "nxp,pca9555";
		reg = <0x25>;
	};
	pca9555@26 {
		compatible = "nxp,pca9555";
		reg = <0x26>;
	};
	pca9555@27 {
		compatible = "nxp,pca9555";
		reg = <0x27>;
	};
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	multi-master;
	status = "okay";
	// BSM FRUID
	eeprom@56 {
		compatible = "atmel,24c64";
		reg = <0x56>;
	};
	pca9555@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
	};
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default &pinctrl_pwm2_default &pinctrl_pwm3_default>;
	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00 0x01>;
	};

	fan@1 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02 0x03>;
	};
	fan@2 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x04 0x05>;
	};

	fan@3 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x06 0x07>;
	};
};

&sdhci_slot1 {
	// eMMC
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd2_default>;
	cd-gpio = <&gpio ASPEED_GPIO(V, 0) GPIO_ACTIVE_LOW>;
};

&vhub {
	status = "okay";
};

&ehci1 {
	status = "okay";
};
