// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2020 Facebook Inc.

/dts-v1/;

#include "aspeed-g6.dtsi"

/ {
	model = "Facebook GrandCanyon UIC";
	compatible = "facebook,grandcanyon-uic", "aspeed,ast2600";

	aliases {
		serial0 = &uart5;
	};

	chosen {
		bootargs = "console=ttyS0,57600n8 root=/dev/ram rw vmalloc=384M";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};
};

&uart5 {
	/* Workaround for AST2600 A0 */
	compatible = "snps,dw-apb-uart";
};

&wdt1 {
	status = "okay";
};

&mdio1 {
	status = "okay";

	ethphy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac3 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii4_default>;
	no-hw-checksum;
	use-ncsi;
};

&rtc {
	status = "okay";
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;

		/* TODO: replace with facebook-bmc-pfr-128M-layout.dtsi */
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			u-boot@0 {
				reg = <0 0xE0000>;
				label = "u-boot";
			};
			/*
			* To keep backward compatible keep env
			* as second partition. exposed as mtd1
			*/
			env@E0000 {
				reg = <0xE0000 0x10000>;
				label = "env";
			};
			meta@F0000 {
				reg = <0xF0000 0x10000>;
				lable = "meta";
			};
			fit@100000 {
				reg = <0x100000 0x1f00000>;
				label = "fit";
			};
			data0@2000000 {
				reg = <0x2000000 0x9e0000>;
				label = "data0";
			};
			flash0@0 {
				reg = <0x0 0x4000000>;
				label = "flash0";
			};
		};
	};
};

&pwm_tacho {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm0_default  &pinctrl_tach0_default
                     &pinctrl_tach2_default &pinctrl_tach3_default
                     &pinctrl_tach4_default>;
        fan@0 {
                reg = <0x00>;
                aspeed,target_pwm = <25000>;
                aspeed,fan-tach-ch = /bits/ 8 <0x00 0x02 0x03 0x04>;
                aspeed,min_rpm = <0>;
        };
};
