// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2020 Facebook Inc.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook Elbert BMC";
	compatible = "facebook,elbert-bmc", "aspeed,ast2600";

	aliases {
		serial0 = &uart5;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;

		mmc0 = &emmc;

		spi1 = &spi1;
		spi2 = &spi_gpio;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS0,9600n8 root=/dev/ram rw vmalloc=640M";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

        spi_gpio: spi-gpio {
                status = "okay";
                compatible = "spi-gpio";
                #address-cells = <1>;
                #size-cells = <0>;

                gpio-sck = <&gpio0 ASPEED_GPIO(X, 3) GPIO_ACTIVE_HIGH>;
                gpio-mosi = <&gpio0 ASPEED_GPIO(X, 4) GPIO_ACTIVE_HIGH>;
                gpio-miso = <&gpio0 ASPEED_GPIO(X, 5) GPIO_ACTIVE_HIGH>;
                num-chipselects = <1>;
                cs-gpios = <&gpio0 ASPEED_GPIO(X, 0) GPIO_ACTIVE_LOW>;

                tpmdev@0 {
                        compatible = "tcg,tpm_tis-spi";
                        spi-max-frequency = <33000000>;
                        reg = <0>;
                };
        };
};

&spi1 {
	status = "okay";
	compatible = "aspeed,ast2600-spi-master";

        // GPIOV0 controls another mux beyond this Chip select on SCM2
	spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <5000000>;
		reg = <0>;
	};

        spidev@1 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <5000000>;
		reg = <1>;
        };
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
		     &pinctrl_rxd1_default>;
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd2_default
		     &pinctrl_rxd2_default>;
};

&uart5 {
	status = "okay";
};

&lpc_ctrl {
	// BMC LPC controller
	status = "okay";
};

&kcs2 {
	// BMC KCS channel 2
	status = "okay";
	kcs_addr = <0xca8>;
};

&kcs3 {
	// BMC KCS channel 3
	status = "okay";
	kcs_addr = <0xca2>;
};

&wdt1 {
	status = "okay";
};

&mdio0 {
        status = "disabled";

        ethphy3: ethernet-phy@13 {
                compatible = "ethernet-phy-ieee802.3-c22";
                reg = <0x0d>;
        };
};

&mac3 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&ethphy3>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii4_default>;

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&mac1 {
	status = "disabled";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
        i2c-switch@75 {
                compatible = "nxp,pca9548";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x75>;
        };
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
        i2c-switch@75 {
                compatible = "nxp,pca9548";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x75>;
        };
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&i2c14 {
	status = "disabled";
};

&i2c15 {
	status = "okay";
};

&vhub {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emmc_controller {
	status = "okay";
};

&emmc {
	status = "okay";

	non-removable;
	max-frequency = <25000000>;
	bus-width = <4>;
        clock-phase = <0x10>;
};


&rtc {
	status = "okay";
};

&syscon {
        mac3-clk-delay = <0x09 0x04
                          0x09 0x04
                          0x09 0x04>;
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			u-boot@0 {
				reg = <0x0 0xE0000>; // 896KB
				label = "u-boot";
			};
			/*
			* To keep backward compatible keep env
			* as second partition. exposed as mtd1
			*/
			env@E0000 {
				reg = <0xE0000 0x10000>; // 64K
				label = "env";
			};
			meta@F0000 {
				reg = <0xF0000 0x10000>; // 64K
				lable = "meta";
			};
			fit@100000 {
				reg = <0x100000 0x1B00000>; // 27MB
				label = "fit";
			};
			data0@1c00000 {
				reg = <0x1c00000 0x400000>; // 4MB
				label = "data0";
			};
			flash0@0 {
				reg = <0x0 0x2000000>; // 32MB
				label = "flash0";
			};
		};
	};
	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			flash0@0 {
				reg = <0x0 0x2000000>; // 32MB
				label = "flash1";
			};

		};
	};
};

&jtag1 {
	/* JTAG programming is done via bit-banging rather than through
	the driver, so prevent the driver from controlling GPIOs */
	pinctrl-0 = <>;
	status = "okay";
};

