// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2018 Facebook Inc.
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook Clear Creek BMC";
	compatible = "facebook,clearcreek-bmc", "aspeed,ast2500";

	aliases {
		/*
		 * Override the default serial aliases to avoid breaking
		 * the legacy applications.
		 */
		serial0 = &uart5;
		serial1 = &uart1;

		i2c16 = &imux16;
		i2c17 = &imux17;
		i2c18 = &imux18;
		i2c19 = &imux19;
		i2c20 = &imux20;
		i2c21 = &imux21;
		i2c22 = &imux22;
		i2c23 = &imux23;
		i2c24 = &imux24;
		i2c25 = &imux25;
		i2c26 = &imux26;
		i2c27 = &imux27;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "debug console=ttyS4,57600n8 root=/dev/ram rw";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
					<&adc 4>, <&adc 5>, <&adc 6>,
					<&adc 7>, <&adc 8>;
	};

	spi_gpio: spi-gpio {
		status = "okay";
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		gpio-sck = <&gpio ASPEED_GPIO(I, 5) GPIO_ACTIVE_HIGH>;
		gpio-mosi = <&gpio ASPEED_GPIO(I, 6) GPIO_ACTIVE_HIGH>;
		gpio-miso = <&gpio ASPEED_GPIO(I, 7) GPIO_ACTIVE_HIGH>;
		num-chipselects = <1>;
		cs-gpios = <&gpio ASPEED_GPIO(I, 4) GPIO_ACTIVE_LOW>;

		tpmdev@0 {
			compatible = "tcg,tpm_tis-spi";
			spi-max-frequency = <33000000>;
			reg = <0>;
		};
	};
};

&wdt1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdtrst1_default>;
	aspeed,reset-type = "soc";
	aspeed,external-signal;
	aspeed,ext-push-pull;
	aspeed,ext-active-high;
	aspeed,ext-pulse-duration = <256>;
};

&fmc {
	status = "okay";
	flash@0 {
		reg = < 1 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.1";
		spi-max-frequency = <40000000>;
#include "facebook-bmc-vboot2-flash1-layout.dtsi"
	};
	flash@1 {
		reg = < 0 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.0";
		spi-max-frequency = <40000000>;
#include "facebook-bmc-vboot2-flash0-layout.dtsi"
	};
};

&spi2 {
	status = "okay";
	compatible = "aspeed,ast2500-spi-master";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi2ck_default &pinctrl_spi2cs0_default &pinctrl_spi2miso_default &pinctrl_spi2mosi_default>;

	flash@0 {
		status = "okay";
		compatible = "m25p80", "jedec,spi-nor";
		m25p,fast-read;
		unuse-fsr;
		spi-max-frequency = <12000000>;
		label = "switch0";
	};
};

&uart5 {
	// BMC Console
	status = "okay";
};

&adc {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		imux16: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		imux17: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		imux18: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		imux19: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
		imux20: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};
		imux21: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};
		imux22: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};
		imux23: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
			// BSM FRUID
			eeprom@56 {
				compatible = "atmel,24c64";
				reg = <0x56>;
			};
			adc128d818@1d {
				compatible = "ti,adc128d818";
				reg = <0x1d>;
				ti,mode = /bits/ 8 <1>;
			};
			adc128d818@1f {
				compatible = "ti,adc128d818";
				reg = <0x1f>;
				ti,mode = /bits/ 8 <1>;
			};
			adc128d818@37 {
				compatible = "ti,adc128d818";
				reg = <0x37>;
				ti,mode = /bits/ 8 <1>;
			};
		};
	};
};

&i2c4 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c8 {
	multi-master;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
	tmp421@4f {
		compatible = "ti,tmp421";
		reg = <0x4f>;
	};
	eeprom@51 {
		compatible = "atmel,24c64";
		reg = <0x51>;
	};
};

&i2c12 {
	status = "okay";
	i2c-switch@70 {
		compatible = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		imux24: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		imux25: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		imux26: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		imux27: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&i2c6 {
	status = "okay";
	// Baseboard FRUID
	eeprom@54 {
		compatible = "atmel,24c64";
		reg = <0x54>;
	};
	tmp421@4c {
		compatible = "ti,tmp421";
		reg = <0x4c>;
	};
	tmp421@4f {
		compatible = "ti,tmp421";
		reg = <0x4f>;
	};
	// RTC
	rtc@51 {
		compatible = "nxp,pcf85263";
		reg = <0x51>;
	};
};

&i2c5 {
	status = "okay";
	//ADC128 for monitoring fan voltage/current
	adc128d818@1d {
		compatible = "ti,adc128d818";
		reg = <0x1d>;
		ti,mode = /bits/ 8 <1>;
	};
	// PDB FRUID
	eeprom@54 {
		compatible = "atmel,24c64";
		reg = <0x54>;
	};

	mp5920@0x44 {
		compatible = "mps,mp5920";
		reg = <0x44>;
	};
	mp5920@0x43 {
		compatible = "mps,mp5920";
		reg = <0x43>;
	};
	tmp421@4c {
		compatible = "ti,tmp421";
		reg = <0x4c>;
	};
	tmp421@4d {
		compatible = "ti,tmp421";
		reg = <0x4d>;
	};
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default &pinctrl_pwm2_default &pinctrl_pwm3_default>;
	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00 0x01>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x08CA>;
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;
	};

	fan@1 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02 0x03>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x08CA>;
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;
	};

	fan@2 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x04 0x05>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x08CA>;
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;
	};

	fan@3 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x06 0x07>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x08CA>;
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;
	};
};

&vhub {
	status = "okay";
};

&gpio {
	aspeed,skip-init-cmdsrc;
};
