// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2018 Facebook Inc.
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook YosemiteV3 BMC";
	compatible = "facebook,yosemitev3-bmc", "aspeed,ast2500";
	aliases {
		serial0 = &uart5;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
	};
	chosen {
		stdout-path = &uart5;
		bootargs = "debug console=ttyS4,57600n8 root=/dev/ram rw";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
			      <&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>,
                              <&adc 8>, <&adc 9>, <&adc 10>;
	};
};

&fmc {
	status = "okay";
	flash@0 {
		reg = < 1 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.1";
#include "facebook-bmc-vboot2-flash1-layout.dtsi"
	};
	flash@1 {
		reg = < 0 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.0";
#include "facebook-bmc-vboot2-flash0-layout.dtsi"
	};
};

&spi2 {
        status = "okay";
        compatible = "aspeed,ast2500-spi-master";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_spi2ck_default
                     &pinctrl_spi2cs0_default
                     &pinctrl_spi2miso_default
                     &pinctrl_spi2mosi_default>;
        tpm@0 {
                reg = < 0 >;
                compatible = "tcg,tpm_tis-spi";
                spi-max-frequency = <12000000>;
                status = "okay";
        };
};

&uhci {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb2ah_default>;
};

&wdt1 {
	status = "okay";
	aspeed,reset-type = "soc";
	aspeed,ext-active-high;
	aspeed,ext-pulse-duration = <256>;
};

&ibt {
	status = "disabled";
};

&rtc {
	status = "okay";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
		     &pinctrl_rxd1_default>;
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd2_default
		     &pinctrl_rxd2_default>;
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd3_default
		     &pinctrl_rxd3_default>;
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd4_default
		     &pinctrl_rxd4_default>;
};

&uart5 {
	status = "okay";
};

&mac0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii1_default>;
	no-hw-checksum;
	use-ncsi;
	mlx,multi-host;
	ncsi-package = <1>;
	ncsi-channel = <1>;
	ncsi-rexmit = <1>;
};

&adc {
	status = "okay";
};

&i2c0 {
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c1 {
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c2 {
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c3 {
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
	// TPM (0x40)
	tpm@20 {
		compatible = "infineon,slb9645tt";
		reg = <0x20>;
	};
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&sdhci_slot1 {
	//Slot Register Set for slot1
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd2_default>;
	sdhci-caps-mask = <0x0 0x580000>;
	broken-cd;
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default &pinctrl_pwm2_default &pinctrl_pwm3_default>;
	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00 0x01>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;       // 00b: falling
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x1000>;    // 4096
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;    // div 4
	};

	fan@1 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02 0x03>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;       // 00b: falling
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x1000>;    // 4096
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;    // div 4
	};

	fan@2 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x04 0x05>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;       // 00b: falling
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x1000>;    // 4096
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;    // div 4
	};

	fan@3 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x06 0x07>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;       // 00b: falling
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x1000>;    // 4096
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;    // div 4
	};
};
