// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2020 Facebook Inc.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Facebook GrandCanyon UIC";
	compatible = "facebook,grandcanyon-uic", "aspeed,ast2600";

	aliases {
		serial0 = &uart5;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart6;
		serial6 = &uart7;
		serial7 = &uart8;
		serial8 = &uart9;

		spi2 = &spi_gpio;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS0,57600n8 root=/dev/ram rw vmalloc=384M";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};
	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>, <&adc0 3>,
			<&adc0 4>, <&adc0 5>, <&adc0 6>, <&adc0 7>,
			<&adc1 0>, <&adc1 1>;
	};

	spi_gpio: spi-gpio {
		status = "okay";
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		gpio-sck = <&gpio0 ASPEED_GPIO(X, 3) GPIO_ACTIVE_HIGH>;
		gpio-mosi = <&gpio0 ASPEED_GPIO(X, 4) GPIO_ACTIVE_HIGH>;
		gpio-miso = <&gpio0 ASPEED_GPIO(X, 5) GPIO_ACTIVE_HIGH>;
		num-chipselects = <1>;
		cs-gpios = <&gpio0 ASPEED_GPIO(X, 0) GPIO_ACTIVE_LOW>;

		tpmdev@0 {
			compatible = "tcg,tpm_tis-spi";
			spi-max-frequency = <33000000>;
			reg = <0>;
		};
	};
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&uart5 {
	status = "okay";
	/* Workaround for AST2600 A0 */
	compatible = "snps,dw-apb-uart";
};

&uart6 {
	status = "okay";
};

&uart7 {
	status = "okay";
};

&uart8 {
	status = "okay";
};

&uart9 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&mdio1 {
	status = "okay";

	ethphy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac3 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii4_default>;
	no-hw-checksum;
	use-ncsi;
};

&rtc {
	status = "okay";
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;

		/* TODO: replace with facebook-bmc-pfr-128M-layout.dtsi */
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			u-boot@0 {
				reg = <0 0xE0000>;
				label = "u-boot";
			};
			/*
			* To keep backward compatible keep env
			* as second partition. exposed as mtd1
			*/
			env@E0000 {
				reg = <0xE0000 0x10000>;
				label = "env";
			};
			meta@F0000 {
				reg = <0xF0000 0x10000>;
				lable = "meta";
			};
			fit@100000 {
				reg = <0x100000 0x1f00000>;
				label = "fit";
			};
			data0@2000000 {
				reg = <0x2000000 0x9e0000>;
				label = "data0";
			};
			flash0@0 {
				reg = <0x0 0x4000000>;
				label = "flash0";
			};
		};
	};
};

&pwm_tacho {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm0_default  &pinctrl_tach0_default
                     &pinctrl_tach2_default &pinctrl_tach3_default
                     &pinctrl_tach4_default>;
        fan@0 {
                reg = <0x00>;
                aspeed,target_pwm = <25000>;
                aspeed,fan-tach-ch = /bits/ 8 <0x00 0x02 0x03 0x04>;
                aspeed,min_rpm = <0>;
        };
};

&i2c0 {
	status = "okay";
	bus-frequency = <400000>;
};

&i2c1 {	
	status = "okay";
	bus-frequency = <400000>;
};

// To BIC
&i2c2 {
	status = "okay";
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
};

// To FPGA of Barton Springs
&i2c3 {
	status = "okay";
	bus-frequency = <400000>;
};

&i2c4 {
	status = "okay";
	bus-frequency = <400000>;
	// UIC FRU
	eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
	};
	// UIC temperature
	tmp75@4A {
		compatible = "ti,tmp75";
		reg = <0x4A>;
	};
};

// To FPGA of UIC (PFR)
&i2c5 {
	bus-frequency = <400000>;
	status = "okay";
};

&i2c6 {
	status = "okay";
	bus-frequency = <400000>;

	// BSM FRU
	eeprom@54 {
		compatible = "atmel,24c64";
		reg = <0x54>;
	};
};

// To debug card
&i2c7 {
	status = "okay";
	multi-master;
	bus-frequency = <400000>;
	aspeed,hw-timeout-ms = <1000>;
};

// To NIC
&i2c8 {
	status = "okay";
	bus-frequency = <400000>;
};

&i2c9 {
	status = "okay";
	bus-frequency = <400000>;

	// Voltage sensor for E1.S
	adc128@1d {
		compatible = "ti,adc128d818";
		reg = <0x1d>;
		ti,mode = /bits/ 8 <1>;
	};
};

// To expander
&i2c10 {
	multi-master;
	bus-frequency = <400000>;
	aspeed,hw-timeout-ms = <1000>;
	status = "okay";
};

// To IOC
&i2c11 {
	status = "okay";
	bus-frequency = <400000>;
};

// To E1.S SSD_1
&i2c12 {
	status = "okay";
	bus-frequency = <400000>;
};

// To E1.S SSD_2
&i2c13 {
	status = "okay";
	bus-frequency = <400000>;
};

&i2c14 {
	status = "okay";
	bus-frequency = <400000>;
};

&i2c15 {
	status = "okay";
	bus-frequency = <400000>;
};

&adc0 {
	ref_voltage = <2500>;
	status = "okay";

	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
		&pinctrl_adc2_default &pinctrl_adc3_default
		&pinctrl_adc4_default &pinctrl_adc5_default
		&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	ref_voltage = <2500>;
	status = "okay";

	pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default>;
};

