// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2018 Facebook Inc.
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/leds/leds-pca955x.h>

/ {
	model = "Facebook Sonora Pass BMC";
	compatible = "facebook,sonorapass-bmc", "aspeed,ast2500";

	aliases {
		/*
		 * Override the default serial aliases to avoid breaking
		 * the legacy applications.
		 */
		serial0 = &uart5;
		serial1 = &uart1;

		i2c16 = &imux16;
		i2c17 = &imux17;
		i2c18 = &imux18;
		i2c19 = &imux19;
		i2c20 = &imux20;
		i2c21 = &imux21;
		i2c22 = &imux22;
		i2c23 = &imux23;
		i2c24 = &imux24;
		i2c25 = &imux25;
		i2c26 = &imux26;
		i2c27 = &imux27;
		i2c28 = &imux28;
		i2c29 = &imux29;
		i2c30 = &imux30;
		i2c31 = &imux31;
		i2c32 = &imux32;
		i2c33 = &imux33;
		i2c34 = &imux34;
		i2c35 = &imux35;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "debug console=ttyS4,57600n8 root=/dev/ram rw";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>, <&adc 4>,
					<&adc 5>, <&adc 6>, <&adc 7>,<&adc 8>, <&adc 9>,
					<&adc 10>, <&adc 11>,<&adc 12>,<&adc 13>, <&adc 14>, <&adc 15>;
	};
};

&wdt1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdtrst1_default>;
	aspeed,reset-type = "soc";
	aspeed,external-signal;
	aspeed,ext-push-pull;
	aspeed,ext-active-high;
	aspeed,ext-pulse-duration = <256>;
};

&fmc {
	status = "okay";
	flash@0 {
		reg = < 1 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.1";
		spi-max-frequency = <12000000>;
#include "facebook-bmc-flash1-layout.dtsi"
	};
	flash@1 {
		reg = < 0 >;
		status = "okay";
		m25p,fast-read;
		label = "spi0.0";
		spi-max-frequency = <12000000>;
#include "facebook-bmc-pfr-flash0-layout.dtsi"
	};
};

&spi1 {
	status = "okay";

	compatible = "aspeed,ast2500-spi-master";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default &pinctrl_spi1cs1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-max-frequency = <12000000>;
	};
	tpm@1 {
		reg = < 1 >;
		compatible = "tcg,tpm_tis-spi";
		spi-max-frequency = <12000000>;
		status = "okay";
	};
};

&ibt {
	status = "disabled";
};

&lpc_ctrl {
	// Enable LPC clock
	status = "okay";
};

&lpc_snoop {
	status = "okay";
	snoop-ports = <0x80>;
};

&gpio {
	aspeed,skip-init-cmdsrc;
};

&rtc {
	status = "okay";
};

&uart1 {
	// Host Console
	resets = <>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
		     &pinctrl_rxd1_default>;
};

&uart2 {
	// SOL Host Console
	resets = <>;
	status = "okay";
};

&uart3 {
	// SOL BMC Console
	status = "okay";
};

&uart5 {
	// BMC Console
	status = "okay";
};

&kcs2 {
	// BMC KCS channel 2
	status = "okay";
	kcs_addr = <0xca8>;
};

&kcs3 {
	// BMC KCS channel 3
	status = "okay";
	kcs_addr = <0xca2>;
};

&mac0 {
	status = "okay";
	no-hw-checksum;
	use-ncsi;
	ncsi-package = <2>;
	ncsi-channel = <2>;
	ncsi-rexmit = <1>;
};

&mac1 {
	status = "okay";
	no-hw-checksum;
	use-ncsi;
	ncsi-package = <2>;
	ncsi-channel = <2>;
	ncsi-rexmit = <1>;
};

&peci0 {
	status = "okay";
};

&adc {
	status = "okay";
};

&i2c0 {
	multi-master;
	status = "okay";
};

&i2c1 {
	status = "okay";
	pxe1110@4A {
		compatible = "infineon,pxe1110c";
		reg = <0x4a>;
	};
};

&i2c2 {
	multi-master;
	status = "okay";

	//AVA II card sensor
	tmp75@48 {
		compatible = "ti,tmp75";
		reg = <0x48>;
	};
	tmp75@49 {
		compatible = "ti,tmp75";
		reg = <0x49>;
	};

	i2c-switch@73 {
		compatible = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x73>;
		imux24: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		imux25: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		imux26: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		imux27: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&i2c3 {
	status = "okay";
	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		imux32: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		imux33: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		imux34: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		imux35: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&i2c4 {
	status = "okay";
	eeprom@54 {
		compatible = "st,24c64";
		reg = <0x54>;
	};

	// I/O Expander
	pca9539@76 {
		compatible = "nxp,pca9539";
		reg = <0x76>;
	};
	pca9539@77 {
		compatible = "nxp,pca9539";
		reg = <0x77>;
	};
};

&i2c5 {
	multi-master;
	status = "okay";
};

&i2c6 {
	status = "okay";

	//AVA II card sensor
	tmp75@48 {
		compatible = "ti,tmp75";
		reg = <0x48>;
	};
	tmp75@49 {
		compatible = "ti,tmp75";
		reg = <0x49>;
	};

	i2c-switch@73 {
		compatible = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x73>;
		imux28: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		imux29: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		imux30: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		imux31: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
	//BSM FRU
	eeprom@56 {
		compatible = "atmel,24c64";
		reg = <0x56>;
	};

	pca9552@60 {
		compatible = "nxp,pca9552";
		reg = <0x60>;
		#address-cells = <1>;
		#size-cells = <0>;
		gpio-controller;
		#gpio-cells = <2>;

		// FM_FAN_POWER_LED_N
		led@0 {
			reg = <0>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@1 {
			reg = <1>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@2 {
			reg = <2>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@3 {
			reg = <3>;
			type = <PCA955X_TYPE_GPIO>;
		};
		// FM_FAN_FAULT_LED_N
		led@4 {
			reg = <4>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@5 {
			reg = <5>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@6 {
			reg = <6>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@7 {
			reg = <7>;
			type = <PCA955X_TYPE_GPIO>;
		};
		// FM_FAN_BUF_PRESENT_R
		gpio@8 {
			reg = <8>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@9 {
			reg = <9>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@10 {
			reg = <10>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@11 {
			reg = <11>;
			type = <PCA955X_TYPE_GPIO>;
		};
		// FM_FAN_P12V_EN
		gpio@12 {
			reg = <12>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@13 {
			reg = <13>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@14 {
			reg = <14>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@15 {
			reg = <15>;
			type = <PCA955X_TYPE_GPIO>;
		};
	};

	pca9552@61 {
		compatible = "nxp,pca9552";
		reg = <0x61>;
		#address-cells = <1>;
		#size-cells = <0>;
		gpio-controller;
		#gpio-cells = <2>;

		// FM_FAN_POWER_LED_N
		led@0 {
			reg = <0>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@1 {
			reg = <1>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@2 {
			reg = <2>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@3 {
			reg = <3>;
			type = <PCA955X_TYPE_GPIO>;
		};
		// FM_FAN_FAULT_LED_N
		led@4 {
			reg = <4>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@5 {
			reg = <5>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@6 {
			reg = <6>;
			type = <PCA955X_TYPE_GPIO>;
		};
		led@7 {
			reg = <7>;
			type = <PCA955X_TYPE_GPIO>;
		};
		// FM_FAN_BUF_PRESENT_R
		gpio@8 {
			reg = <8>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@9 {
			reg = <9>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@10 {
			reg = <10>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@11 {
			reg = <11>;
			type = <PCA955X_TYPE_GPIO>;
		};
		// FM_FAN_P12V_EN
		gpio@12 {
			reg = <12>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@13 {
			reg = <13>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@14 {
			reg = <14>;
			type = <PCA955X_TYPE_GPIO>;
		};
		gpio@15 {
			reg = <15>;
			type = <PCA955X_TYPE_GPIO>;
		};
	};

	// ADC128 for monitoring fan voltage/current
	adc128@1d {
		compatible = "ti,adc128d818";
		reg = <0x1d>;
		ti,mode = /bits/ 8 <1>;
	};

	adc128@1f {
		compatible = "ti,adc128d818";
		reg = <0x1f>;
		ti,mode = /bits/ 8 <1>;
	};
};

&i2c13 {
	status = "okay";
	i2c-switch@71 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;
		imux16: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		imux17: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		imux18: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		imux19: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			tmp421@4c {
				compatible = "ti,tmp421";
				reg = <0x4c>;
			};
			tmp421@4e {
				compatible = "ti,tmp421";
				reg = <0x4e>;
			};
			tmp421@4f {
				compatible = "ti,tmp421";
				reg = <0x4f>;
			};
		};

		imux20: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux21: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux22: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux23: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};
};

&sdhci_slot0 {
	// eMMC
	status = "okay";
	bus-width = <8>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd1_default>;
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default>;
	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00 0x01 0x02 0x03 0x04 0x05 0x06 0x07>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;       // 00b: falling
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x1000>;    // 4096
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;    // div 4
	};

	fan@1 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x08 0x09 0x0a 0x0b 0x0c 0x0d 0x0e 0x0f>;
		aspeed,pwm-typem-tach-mode = /bits/ 8 <0x00>;
		aspeed,pwm-typem-tach-unit = /bits/ 16 <0x1000>;
		aspeed,pwm-typem-tach-clk-div = /bits/ 8 <0x00>;
	};
};
